.header-container {
    background: black;
    display: flex;
    gap: 10px;
    height: 5vh;
    width: 97.2%;
    padding-top: 20px;
    color: white;
    padding-left: 40px;
    font-weight: 500;
}

.main-logo {
    height: 37px;
    margin-top: -10px;
    cursor: pointer;
}

.nav-container {
    display: flex;
    gap: 15px;
    align-items: right;
    justify-content: right;
    width: 85%;
}

.option {
    cursor: pointer;
}

.main-logo.checkout {
    height: 35px;
    margin-left: 10px;
    margin-top: 14px;
}